<h1>Listing spacepeople</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Spacecraft</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @spacepeople.each do |spaceperson| %>
      <tr>
        <td><%= spaceperson.name %></td>
        <td><%= spaceperson.spacecraft.name %></td>
        <td><%= link_to 'Show', spaceperson %></td>
        <td><%= link_to 'Edit', edit_spaceperson_path(spaceperson) %></td>
        <td><%= link_to 'Destroy', spaceperson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spaceperson', new_spaceperson_path %>
