<h1 id="appheader">ISS Flyby</h1>
<section class="contentbox">
  <h2>Background information</h2>
  <p>The goal of ISS Flyby is to build a unique Google Glass application in a limited timeframe. The overall development time from start to launch was roughly 15 evenings. The project is entirely open source under an MIT license, and we encourage code contributions, suggestions, and bug reports on Github. (<a href="https://github.com/mkbehbehani/issflyby.git">Link</a>)
  Once a user authorizes ISS Flyby, it begins to periodically request Glass' location. We use the Google Glass Mirror API, which greatly assists development and allows the application to exist entirely on the web. ISS Flyby connects to external API's for ISS pass times and information about who's on board, and compares it against sunrise, sunset and cloud coverage to notify the user only when the ISS will be visible as a very bright point passing overhead.
  </p>
  <div class="wrap">
  <%= image_tag("ipad.png", class: "largeimage") %>
  </div>
  <p>
  When a visible ISS pass is about 15 minutes away the user is sent a card to allow time to notify others around them. The user can optionally tap on the card to view a list of all astronauts currently on board the space station.
  From the issflyby.com website, users can view upcoming flybys, their durations and dates, and send themselves demo cards at any time. The ISS Flyby website is fully responsive, and works on mobile, tablet and desktop.
  </p>
</section>
<section class="contentbox">
  <h2>Glass Cards</h2>
  <%= image_tag("sample_cards/iss_sample_card.png", class: "glasscard") %>
  <%= image_tag("sample_cards/ryazanskiy_sample_card.png", class: "glasscard") %>
  <%= image_tag("sample_cards/hopkins_sample_card.png", class: "glasscard") %>
  <%= image_tag("sample_cards/kotov_sample_card.png", class: "glasscard") %>
  <%= image_tag("sample_cards/tyurin_sample_card.png", class: "glasscard") %>
  <%= image_tag("sample_cards/wakata_sample_card.png", class: "glasscard") %>
  <%= image_tag("sample_cards/mastracchio_sample_card.png", class: "glasscard") %>
</section>
<section class="contentbox">
	<h2>Images</h2>
  <%= image_tag("iss_dev.jpg", class: "largeimage") %>
  <%= image_tag("iss_dev2.jpg", class: "largeimage") %>
  <%= image_tag("iss_hackathon.jpg", class: "largeimage") %>
  <%= image_tag("nexus4.png", class: "pressimage") %>
  <%= image_tag("nexus4_side.png", class: "pressimage") %>

</section>
<section class="contentbox">
    <h2>License</h2>
      <p> Everything on this press page is licensed as public domain under the creative commons CC0 license. Please feel free to publish it in any manner you wish.</p>
   

      <p id="mashallah" xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
            <a rel="license"
               href="http://creativecommons.org/publicdomain/zero/1.0/">
              <img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" />
            </a>
            <br />
            To the extent possible under law,
            <a rel="dct:publisher"
               href="issflyby.com/press">
              <span property="dct:title">Mashallah Behbehani</span></a>
            has waived all copyright and related or neighboring rights to
            <span property="dct:title">Press Page</span>.
          This work is published from:
          <span property="vcard:Country" datatype="dct:ISO3166"
                content="US" about="issflyby.com/press">
            United States</span>.
      </p>

      <p id="ben" xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
          <a rel="license"
             href="http://creativecommons.org/publicdomain/zero/1.0/">
            <img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" />
          </a>
          <br />
          To the extent possible under law,
          <a rel="dct:publisher"
             href="issflyby.com/press">
            <span property="dct:title">Ben Nelson</span></a>
          has waived all copyright and related or neighboring rights to
          <span property="dct:title">Press Page</span>.
          This work is published from:
          <span property="vcard:Country" datatype="dct:ISO3166"
                content="US" about="issflyby.com/press">
          United States</span>.
      </p>
</section>