<p id="notice"><%= notice %></p>

<p>
  <strong>Spacecraft:</strong>
  <%= @subscription.spacecraft_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @subscription.user_id %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
