<h1 id="appheader">ISS Flyby for Glass</h1>
<div class="slider">
  <ul class="slides">
    <li class="slide">
	    <div class="glasscard">
		    <%= image_tag("iss.jpg") %>
		    <p>International Space Station flyby coming up <%= @flyby_time.strftime(" at %I:%M %p CST!") %></p>
		    <footer><span class="source">ISS Flyby</span><span class="time">3 mins ago</span></footer>
	    </div>
    </li>
    <% @spacepeople.each do |spaceperson| %>
    	<li class="slide">
	    	<div class="glasscard">
		    	<%= image_tag(spaceperson.name.split("\ ").last.downcase+".jpg") %>
		    	<p><%= spaceperson.name %> is on board.</p>
		    <footer><span class="source">ISS Flyby</span><span class="time">3 mins ago</span></footer>
	    	</div>
    	</li>
    <% end %>
  </ul>
</div>
<% if current_user %>
    <%= link_to 'send demo card', demo_card_path %>
	<p style="color:green">Signed in with Google.</p>
		<% if current_user.passes.count == 0 %>
			<p>The next 100 passes overhead won't be visible with the naked eye. We'll keep looking and notify you via Glass!</p>
		<% else %>
			<h3>Upcoming passes:</h3>
			<ul>	
			<% current_user.passes.each do |pass| %>
				<li><%= pass.risetime.to_s %></li>
			<% end %>
			</ul>
		<% end %>
<% else %>
	<div id="login"><%= link_to 'log in with Google', sign_in_path %></div>
	
<% end %>
