<h1 id="appheader">ISS Flyby</h1>
<% if current_user %>
    <a id="demo" href="/demo_card">Send Demo Card</a>
    <br>
    <section>
		<% if current_user.passes.count == 0 %>
			<p>The next 100 passes overhead won't be visible with the naked eye. We'll keep looking and notify you via Glass!</p>
		<% else %>
			<h3>Upcoming passes:</h3>
			<ul>	
			<% current_user.passes.each do |pass| %>
				<li>
                  <%= pass.risetime.to_s %>
                  <%= distance_of_time_in_words_to_now(pass.risetime, include_seconds_or_options = {}) %>
                  <!--mark passes coming up soon that weather will spoil-->
                      <% if pass.risetime - Time.now.utc < 3.hours && !pass.weather_permits %>
                        <span class="cloudy">It will be too cloudy to see this pass!</span>
                      <% end %>
                </li>
			<% end %>
			</ul>
		<% end %>
    <%= link_to "Sign Out", sign_out_path, id:"sign_out"%>
    </section>
    
<% else %>

<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide swiper-slide-visible">
    	<div class="description"><p>Get cards to your Google Glass as the ISS approaches.</p></div>
	    <div class="glasscard">
		    <%= image_tag("iss.jpg") %>
		    <p>International Space Station flyby coming up <%= @flyby_time.strftime(" at %I:%M %p CST!") %></p>
		    <footer><span class="source">ISS Flyby</span><span class="time">3 mins ago</span></footer>
	    </div>
    </div>
    <% @spacepeople.each.with_index do |spaceperson, index| %>
    	<div class="swiper-slide swiper-slide-visible">
    		<% if index == 0 %>
				<div class="description"><p>See who's on the ISS at that moment. </p></div>
	    	<% end %>
	    	<% if index == 1  %>
	    		<div class="description"><p>Flybys are determined by your Google Glass' position.</p></div>
	    	<% end %>
	    	<% if index == 2  %>
	    		<div class="description"><p> Sunrise, sunset and even clouds are factored in. </p></div>
	    	<% end %>
	    	<% if index == 3  %>
	    		<div class="description"><p>You'll only receive flybys worth running outside for.</p></div>
	    	<% end %>
	    	<% if index == 4  %>
	    		<div class="description"><p>20 mins later the cards disappear, leaving your timeline clean.</p></div>
	    	<% end %>
	    	<% if index == 5  %>
	    		<div class="description"><p>To start, connect your Google Glass by logging in below.</p></div>
	    	<% end %>
	    	<div class="glasscard">
		    	<%= image_tag(spaceperson.name.split("\ ").last.downcase+".jpg") %>
		    	<p><%= spaceperson.name %> is on board.</p>
		    <footer><span class="source">ISS Flyby</span><span class="time">3 mins ago</span></footer>
	    	</div>
    	</div>
    <% end %>
    	<% if @order_random == 1 %>
        	<div class="swiper-slide swiper-slide-visible">
    	    	<div class="description"><p>An open source project by:</p></div>
    	    	    <div class="glasscard">
    	    		    <%= image_tag("ben.jpg") %>
    	    		    <p>Benjamin Blaha-Nelson
    	    		    <br>
    	    		    <a id="ben_twitter" href="https://twitter.com/blaha"><%= image_tag("twitter.svg", class: 'twitter_icon') %> @blaha</a>
    	    		    <a href="mailto:nelsonblaha@gmail.com">nelsonblaha@gmail.com</a>
    	    		    </p>
    	    		    <footer><span class="source">ISS Flyby</span><span class="time">3 mins ago</span></footer>
    	    	</div>
    		</div>
        	<div class="swiper-slide swiper-slide-visible">
    	    	<div class="description"><p>and</p></div>
    		       <div class="glasscard" id="mashallah">
    		   	    <%= image_tag("mashallah.jpg") %>
    		   	    <p>Mashallah Behbehani
    		   	    <br>
    		   	    <a id="mashallah_twitter" href="https://twitter.com/mkbehbehani"><%= image_tag("twitter.svg", class: 'twitter_icon') %> @mkbehbehani</a>
    		   	    
    		   	    <a href="mailto:mkbehbehani@gmail.com">mkbehbehani@gmail.com</a>
    		   	    </p>
    		   	    <footer><span class="source">ISS Flyby</span><span class="time">3 mins ago</span></footer>
    		       </div>
    		</div>
    	<% else %>
    	    <div class="swiper-slide swiper-slide-visible">
    		  	<div class="description"><p>An open source project by:</p></div>
    		    <div class="glasscard" id="mashallah">
    			    <%= image_tag("mashallah.jpg") %>
    			    <p>Mashallah Behbehani
    			    <br>
    			    <a id="mashallah_twitter" href="https://twitter.com/mkbehbehani"><%= image_tag("twitter.svg", class: 'twitter_icon') %> @mkbehbehani</a>
    			    
    			    <a id="mashallah_email" href="mailto:mkbehbehani@gmail.com">mkbehbehani@gmail.com</a>
    			    </p>
    			    <footer><span class="source">ISS Flyby</span><span class="time">3 mins ago</span></footer>
    		    </div>
    		</div>
    	    <div class="swiper-slide swiper-slide-visible">
    		  	<div class="description"><p>and</p></div>
    		    <div class="glasscard">
    			    <%= image_tag("ben.jpg") %>
    			    <p>Benjamin Blaha-Nelson
    			    <br>
    			    <a id="ben_twitter" href="https://twitter.com/blaha"><%= image_tag("twitter.svg", class: 'twitter_icon') %> @blaha</a>
    			    <a href="mailto:nelsonblaha@gmail.com">nelsonblaha@gmail.com</a>
    			    </p>
    			    <footer><span class="source">ISS Flyby</span><span class="time">3 mins ago</span></footer>
    		    </div>
    		</div>
    	<% end %>
		<div class="swiper-slide swiper-slide-visible">
			<div class="description"><p>Developers, send us ideas and code.</p></div>
		    <div class="github"><a href="https://github.com/mkbehbehani/issflyby" id="github_link"><%= image_tag("github.png") %> ISS Flyby Github</a></div>
		</div>
  </div>
</div>
<div class="pagination"></div>
	<div id="login"><%= link_to 'Log In With Google', sign_in_path, id: 'login_link' %></div>
	
<% end %>
<script>
var mySwiper = new Swiper('.swiper-container',{
  pagination: '.pagination',
  paginationClickable: true,
  centeredSlides: true,
  slidesPerView: 'auto',
  watchActiveIndex: true,
  keyboardControl:true
})
</script>